<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
   <div>
    <h1>FreeCodeCamp API Basejump: URL Shortener Microservice</h1>
    <p>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response. When I visit that shortened URL, it will redirect me to my original link.</p>
    <ol>Example creation usage: 
      <li>https://urlshortenermyapp.glitch.me/new/https://www.google.com </li>
      <li>https://urlshortenermyapp.glitch.me/new/http://foo.com:80</li>
     </ol>
     <h3>
       Example creation output 
     </h3>
     <p>
       {"original_url":"https://www.google.com","shorten_url":"https://urlshortenermyapp.glitch.me/1516119244000"}
     </p>
     <p>
       
     <strong>Usage:</strong>
https://urlshortenermyapp.glitch.me/1516119244000<br>

<strong>Will redirect to:</strong>
https://www.google.com
         </p>
    </div>
  </body>
</html>
